rasp_danis.py 
socketito_626.py
*.npy
poses.json
sonido tanque.opus
paso0w.jpg
PASO1_NEW.jpg
paso1S.jpg
paso1TR.jpg
paso1w.jpg
PASO2_NEW.jpg
paso2.jpg
paso2S.jpg
paso2TR.jpg
paso2w.jpg
PASO3_NEW.jpg
paso3.jpg
paso3S.jpg
paso3w.jpg
PASO4_NEW.jpg
paso4.jpg
paso4w.jpg
PASO5_NEW.jpg
paso5.jpg
PASO6_NEW.jpg
paso6.jpg
PASO7_NEW.jpg
paso7.jpg
PASO8_NEW.jpg
paso8.jpg
paso10.jpg
paso11.jpg
paso12.jpg
paso13.jpg
paso14.jpg
paso15.jpg
paso16.jpg
paso17.jpg
CV_AlbertoTamez_May2023.pdf
fondo.jpg
colorear puntos de interes.py
danis.py
disco.jpg
graficar.py
ivansin.py
landmark_generator.py
stm-danis.c
stm-jc.c
stm.c
threads626.py
poses/AAAAAAAAA.png
poses/IMG-20230612-WA0020.jpg
poses/IMG-20230612-WA0021.jpg
poses/IMG-20230612-WA0022.jpg
poses/IMG-20230612-WA0023.jpg
poses/IMG-20230612-WA0024.jpg
poses/IMG-20230612-WA0025.jpg
poses/IMG-20230612-WA0026.jpg
poses/IMG-20230612-WA0027.jpg
poses/IMG-20230612-WA0036.jpg
poses/paso18.jpg
poses/paso19.jpg
poses/paso20.jpg
poses/paso21.jpg
poses/paso22.jpg
poses/paso23.jpg
master2.py
landmark_generator.py
landmark_generator.py
scoket_sender.py
landmark_generator.py
landmark_generator.py
